body {
    background-color: #E5E5E5;
}

.container-fluid {
    margin-top: 30px;
}

.navbar img {
    width: 40px;
}

.top-player p,
h5 {
    font-weight: 700;
}

.blog-text {
    color: #562EFF;
}

.player img {
    width: 56px;
}

p {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 870px;
}

.blog img {
    width: 177px;
}

.course img {
    width: 224px;
}

.icon img {
    width: 20px;
}

.star img {
    width: 12px;
}

.clock img {
    width: 20px;
}

.course {
    border: 1px solid gray;

}